<a href="./index.html"><img id="kochweltlong" src="./img/logo.png" alt="Kochwelt Logo" /><img id="kochweltshort" src="./img/logo_small.png" alt="Kochwelt Logo"></a>
<nav>
  <a href="./index.html">Start</a>
  <a href="./steak.html">Rezept des Tages</a>
  <a href="./kontakt.html">Kontakt</a>
  <a href="./impressum.html">Impressum</a>
  <a href="#" id="burgericon" onclick="burgerMenu()"><img  src="./img/menu.png" alt=""></a>
</nav>
<div id="burgermenu">
  <a href="./index.html">Start</a>
  <div class="burgerdivider"></div>
  <a href="./steak.html">Rezept des Tages</a>
  <div class="burgerdivider"></div>
  <a href="kontakt.html">Kontakt</a>
  <div class="burgerdivider"></div>
  <a href="./impressum.html">Impressum</a>
</div>